[run]
branch = True
source =
    api
    beheeromgeving
    domain
omit =
    */migrations/*.py
    settings.py
    */commands/import*
    wsgi.py
    */openapi/preprocessors.py
plugins =
    django_coverage_plugin

[report]
fail_under = 95
exclude_also =
    if "debug_toolbar" in settings.INSTALLED_APPS:
    if settings.DEBUG:
    raise NotImplementedError
    raise DomainException
    case exceptions.DomainException
